:root {
    --prim-color: whitesmoke;
    --sec-color: #9e5f9e;
}

body {
    background-color: thistle;
}

.container {
    background-color: var(--prim-color);
    margin: 5px 100px;
    height: 150px;
    text-align: center;
    padding-top: 15pfontx;
    border-style: solid;
    border-width: 1px;
    border-color: var(--sec-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.container h1 {
    color: var(--sec-color);
}

.container h2 {
    color: #8d7c96;
}

.nav {
    list-style-type: none;
    width: 1130px;
    margin: 0px 100px;
    padding-left: 0px;
    overflow: hidden;
    background-color: var(--prim-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--sec-color);
}

.nav li {
    float: left;
}

.nav li a{
    display: block;
    color: rgb(189, 111, 189);
    text-decoration: none;
    padding: 10px 20px;
    border-style: none solid none none;
    border-width: 1px;
    border-color: var(--sec-color);
    font-size: 20px;
    font-weight: bold;
}

.nav li a:hover {
    display: block;
    color: var(--prim-color);
    background-color: var(--sec-color);
}

.main {
    width: 800px;
    padding: 25px 25px;
    background-color: var(--prim-color);
    margin-top: 15px;
    margin-left: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--sec-color);
    border-radius: 15px;
}

#side {
    text-align: center;
    background-color: var(--prim-color);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--sec-color);
    border-width: 1px;
    width: 250px;
    float: right;
    margin-top: 15px;
    margin-right: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
#meIcon{
    width: 150px;
}

.social {
    width: 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer {
    background-color: var(--prim-color);
    height: 25px;
    width: 1333px;
    text-align: left;
    vertical-align: middle;
}

.footer p{
    padding-left: 25px;
    padding-top: 3px;
}

#anchor {
    text-decoration: underline;
    text-decoration-color: #9e5f9e;
    color: blueviolet;
    float: right;
}